**/__pycache__/
**/.pytest_cache/
**/.venv/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
**/node_modules/
**/dist/
**/build/
.next/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.db
backend/.env
frontend/.env
backend/token_generation/server.key
backend/token_generation/sf_token.json
